<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel App</title>
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header id="header">
  <h1><i class="fa fa-plane" aria-hidden="true"></i> <br> Travel Planer <br> <i class="fa fa-suitcase" aria-hidden="true"></i></h1>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>
<main>
  <section id="form-space">
    <form id="travel-form" action="">
    <label for="destination">
      Travelling to: <input id="destination" type="text" placeholder="e.g. London" required>
    </label>
    <label for="depart">
      Departing:<input id="depart" type="date" placeholder="gg.aa.yyyy" required>
    </label>
    <label for="return">
      Returning:<input id="return" type="date" placeholder="gg.aa.yyyy">
    </label>
    <input id="submit" type="submit" value="Add trip" onclick="return Client.submitHandler(event)">
    </form>
  </section>
  <section id="trips">
    <h2>My trips:</h2>
  </section>
</main>
<footer>
  <p>Created by: Jaka Presecnik <br> for Udacity's Front End Developer nanodegree</p>
</footer>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
