<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel App</title>
  <link rel="shortcut icon" href="favicon/favicon.ico">
<link rel="icon" type="image/gif" href="favicon/animated_favicon1.gif">
</head>
<body>
<header>
  <h1>Travel Planer</h1>
  <nav></nav>
</header>
<main>
  <section>
    <form action=""></form>
    I'm travelling to: <input id="destination" type="text" placeholder="e.g. London">
    Departing:<input id="depart" type="text" placeholder="gg.aa.yyyy">
    Returning:<input id="return" type="text" placeholder="gg.aa.yyyy">
    <input type="submit" value="Add trip">
  </section>
  <section id="trips">
    <h2>My trips:</h2>
    <div class="saved">
      <img src="" alt="">
      <div>
        <h3>My trip to: </h3>
        <h3>Departing: </h3>
      </div>
      <div>
        <h4>Flight info:</h4>
      </div>
      <div>
        <button>save trip</button>
        <button>remove trip</button>
      </div>
      <div>
        <p>Trip is xxx days away</p>
      </div>
      <div>
        <p>Typical weather for then is:</p>
        <p>Cloudy between 0 - 20°C</p>
      </div>
    </div>
  </section>
  <footer>
    <p>Created by: Jaka Presecnik</p>
  </footer>
</main>
</body>
</html>
