@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Fjalla+One|Indie+Flower|Lato:400,400i,700,700i&display=swap');
/* Font variables from google fonts */
$head-font: 'Indie Flower', cursive;
$prim-font: 'Lato', sans-serif;
$sec-font: 'Caveat', cursive;
$spare-font: 'Fjalla One', sans-serif;

/* Color variables: with the help of paletton.com - add this site to bookmarks somewhere on other PCs! */
$prim-col: #89a638;
$prim-col-light: #a7c063;
$prim-col-xxlight: #c5d793;
$prim-col-dark: #708f19;
$prim-col-xxdark: #587701
$sec-col: #3e9131;
$sec-col-light: #88bc80;
$sec-col-dark: #0f6801;
$thr-col: #afa93b;
$thr-col-light: #e3df9b;
$thr-col-dark: #7e7801;
